<div class="row">
  <div class="col-sm">
    <div class="card">
      <h5 class="card-header">
        Pond
      </h5>
      <div class="card-body">
        <p>
          <table class="table">
            <tr>
              <th>
                Pond pump
              </th>
              <td>
                <ButtonOnOff @isOn={{tfpConfig.pondPumpRunning}} @service={{tfpService}} @actionOn="startPondPump" @actionOff="stopPondPump" />
              </td>
            </tr>
            <tr>
              <th>
                UVC1
              </th>
              <td>
                <ButtonOnOff @isOn={{tfpConfig.UVC1Running}} @service={{tfpService}} @actionOn="startUVC1" @actionOff="stopUVC1" />
              </td>
            </tr>
            <tr>
              <th>
                UVC2
              </th>
              <td>
                <ButtonOnOff @isOn={{tfpConfig.UVC2Running}} @service={{tfpService}} @actionOn="startUVC2" @actionOff="stopUVC2" />
              </td>
            </tr>
            <tr>
              <th>
                Pond bubble
              </th>
              <td>
                <ButtonOnOff @isOn={{tfpConfig.pondBubbleRunning}} @service={{tfpService}} @actionOn="startPondBubble" @actionOff="stopPondBubble" />
              </td>
            </tr>
            <tr>
              <th>
                Filter bubble
              </th>
              <td>
                <ButtonOnOff @date={{tfpConfig.updatedAt}} @isOn={{tfpConfig.filterBubbleRunning}} @service={{tfpService}} @actionOn="startFilterBubble" @actionOff="stopFilterBubble" />
              </td>
            </tr>
            <tr>
              <th>
                Waterfall pump
              </th>
              <td>
                <ButtonOnOff @isOn={{tfpConfig.waterfallPumpRunning}} @service={{tfpService}} @actionOn="startWaterfallPump" @actionOff="stopWaterfallPump" />
              </td>
            </tr>
            <tr>
              <th>
                UVC1 blister
              </th>
              <td>
                Ok
              </td>
            </tr>
            <tr>
              <th>
                UVC2 blister
              </th>
              <td>
                Ok
              </td>
            </tr>
          </table>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <h5 class="card-header">
        Drum Filter Pund
      </h5>
      <div class="card-body">
        <p>
          <table class="table">
            <tr>
              <th>
                Auto
              </th>
              <td>
                <ButtonOnOff @isOn={{true}} />
              </td>
            </tr>
            <tr>
              <th>
                Stop
              </th>
              <td>
                <ButtonOnOff @isOn={{true}} />
              </td>
            </tr>
            <tr>
              <th>
                Status
              </th>
              <td>
                <DfpStatus @isOn={{true}} />
              </td>
            </tr>
            <tr>
              <th>
                Last washing
              </th>
              <td>
                2020-01-01 10:00:00
              </td>
            </tr>
            <tr>
              <th>
                Average washing time
              </th>
              <td>
                120 min
              </td>
            </tr>
            <tr>
              <th>
                Watter used
              </th>
              <td>
                120l en 24h
              </td>
            </tr>
          </table>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <h5 class="card-header">
        Tank
      </h5>
      <div class="card-body">
        <p>
          <table class="table">
            <tr>
              <th>
                Auto
              </th>
              <td>
                <ButtonOnOff @isOn={{true}} />
              </td>
            </tr>
            <tr>
              <th>
                Tank 1 level
              </th>
              <td>
                120 cm
              </td>
            </tr>
            <tr>
              <th>
                Tank 1 watter
              </th>
              <td>
                8500l
              </td>
            </tr>
            <tr>
              <th>
                Tank 2 level
              </th>
              <td>
                60 cm
              </td>
            </tr>
            <tr>
              <th>
                Tank 2 watter
              </th>
              <td>
                1200l
              </td>
            </tr>
          </table>
        </p>
      </div>
    </div>
  </div>
</div>